@model LorcanaCardCollector.Models.Inventory

@{
    ViewData["Title"] = "Add Card";
}

<h1>Create</h1>

<h1 class="freckle-font" style="color: #d5b88b">Add Card</h1>
<hr />
<div class="bg-opacity-70 rounded shadow-sm p-3" style="background: #d5b88b;">
    <div class="row text-light">

        <div class="col-md-6 p-4 text-dark">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardId" class="control-label">Card ID</label>
                <select asp-for="CardId" class ="form-control" asp-items="ViewBag.CardId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary mt-sm-3 me-sm-3" formnovalidate />
                    <a asp-action="Index" class="btn btn-secondary text-light mt-sm-3">Back to List</a>
                </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
