@model EditDeckViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="bg-opacity-70 rounded shadow-sm p-4" style="background: #d5b88b;">
<h4>Deck</h4>
<form asp-action="Edit" method="post">
    <input asp-for="DeckId" type="hidden" />

    <div class="form-group">
        <label asp-for="DeckName"></label>
        <input asp-for="DeckName" class="form-control" />
    </div>

    <hr />

    <h4>Cards in Deck</h4>

    <div class="row">
        @for (int i = 0; i < Model.Cards.Count; i++)
        {
            <div class="col-md-4 mb-2">
                <input type="hidden" asp-for="Cards[@i].CardId" />
                <div class="form-check">
                    <input asp-for="Cards[@i].IsSelected" class="form-check-input" />
                    <label class="form-check-label">
                        @Model.Cards[i].CardName
                    </label>
                </div>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-sm-3 me-2">Save</button>
        <a asp-action="Index" class="btn btn-secondary text-light mt-sm-3">Back to List</a>
</form>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
