@using LorcanaCardCollector.Models
@model LorcanaCardCollector.Models.LorcanaCardCollectorModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-sm-4 rounded shadow-sm" style="background-color: #d5b88b; opacity: .9;">
    <!--<h3 class="display-6 text-dark pt-sm-4">Welcome to the</h3> -->
    <h1 class="display-4 text-dark freckle-font pt-sm-3 mb-sm-0">Lorcana Store</h1>
    <p class="text-dark mt-sm-0 mb-sm-4" style="font-size: 1.5rem;">Check Inventory and Build Decks</p>

    <!-- Search bar and buttons -->
    <form action="/Home/Index" method="post" >
        <div class="form-group p-sm-4">
            <label asp-for="CardName" class="form-label freckle-face-regular" style="font-size: 1.2rem;">Search for a Card Name</label>
            <input asp-for="CardName" class="form-control" />
        </div>
        <button type="submit" class="btn-primary m-sm-3 rounded-2 ps-sm-2 pe-sm-2">
            <i class="fa fa-search"></i> Search</button>
        <a asp-action="Index" class="m-sm-3">Clear</a>
    </form>
    <hr />
    @if (ViewBag.Cards != null)
    {
        var cards = ViewBag.Cards as List<LorcanaCardDto>;

        if (cards != null && cards.Any())
        {
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-2">
                @foreach (var card in cards)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="@card.Image" class="card-img-top" alt="@card.Name" />

                            <div class="card-body">
                                <h6 class="card-title">@card.Name</h6>
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row row cols-1" style="width:200px; margin-right: auto; margin-left: auto;">
                <div class="card shadow-sm">
                    <img src="~/Images/notFound.jpg" class="card-img-top" />
                    <div class="card-body">
                        <p>No cards found.</p>
                    </div>
                </div>
            </div>
        }

        
}
</div>

<!-- Dynamic area to display cards or error message -->
<div class="m-4 text-center"><img style = "height: 400px;"src="@ViewBag.Results" /></div>
