@{
    ViewData["Title"] = "About";
}
<div class="row m-sm-4 bg-opacity-70 rounded shadow-sm" style="background: #d5b88b; opacity:.9;">

    <span class="col-sm-3"></span>
    <span class="col-sm-6 pt-5 text-center">
        <a href="https://www.disneylorcana.com"><img src="~/Images/LorcanaLogo.png" alt="Lorcana Logo" style="filter: drop-shadow(0px 0px 10px #000000) "/></a></span>
        <span class="col-sm-3"></span>
    <p class="col-sm-12 text-dark p-2 text-center">
        Lorcana is &copy;Disney, Operated by Ravensburger, an official licensee of Disney.
    </p>
    <p class="col-sm-12 text-dark p-2 pb-5 text-center">
        This website utilizes <a href="https://www.lorcana-api.com"> Lorcana-api.com.</a><br />
        Built my Matt Lewis, &copy;2025, NMC CIT218
    </p>
</div>
