@{
    ViewData["Title"] = "Contact";
}
<div class="row m-sm-4 bg-opacity-70 rounded shadow-sm" style="background: #d5b88b; opacity:.9;">


    <div class=" text-center col-sm-12 p-5">
    <h1 class="text-dark">Contact Us</h1>
    <hr />
    <p class="h5"><i class="fa fa-envelope text-dark"></i> <a href="mailto:lewis10@mail.nmc.edu" class="text-dark">Email Matt</a></p>
    <p class="h5"><i class="fa fa-phone text-dark"></i> <a href="tel:+18881234567" class="text-dark">1.888.123.4557</a></p>
    </div>
    <span class="col-sm-12 pb-5 text-center">
        <a href="https://www.disneylorcana.com"><img src="~/Images/LorcanaLogo.png" alt="Lorcana Logo" class="mb-6" style="filter: drop-shadow(0px 0px 10px #000000) " /></a>
    </span>
    
</div>
