html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.freckle-font {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/Images/LCC_Logo_50.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #212529;
}

td {
    vertical-align: middle;
}
.btn-primary {
    background-color: #0092c7 !important;
    border-color: #005e80 !important;
    color: aliceblue !important;
}

.btn-primary:hover {
    background-color: #005e80 !important;
    border-color: #004159 !important;
}
a {
    color: #005e80 !important;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-content {
    max-height: 90%;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 0 20px #000;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}